<html>
<head>
    <title>Testing Tabs</title>
    <script type="text/javascript" src="../../lib/angular-1.2.4/angular.js"></script>
    <script type="text/javascript" src="../../build/angular-ui-router.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="tab_control.js"></script>
    <link rel="stylesheet" href="tabs.css" />
</head>
<body ng-app="parallel">
    <input type="checkbox" ng-model="showinstructions">Show description
    <input type="checkbox" ng-model="showstatesummary">Show state summary
    <div ng-show="showinstructions">
        <br>
        This sample demonstrates parallel state management using ui-router.  It consists of
        <ul>
            <li>A fork of ui-router with hooks for parallel state management which may be found <a href="https://github.com/christopherthielen/ui-router">here</a></li>
            <li>app.js which contains a large state tree, where some states are marked as parallel</li>
            <li>tab_control.js which draws tab controls and manages state transitions when clicking a tab (via two directives)</li>
        </ul>
        <br>If a state is marked as parallel, transitions to another peer parallel state will not deconstruct the DOM or exit the state.
        Instead, the state is <u>inactivated</u> and remains inactive until it is <u>reactivated</u> or exited.

        <br><br>View app.js source code for state tree overview.
        <br>Check the console for state transition information.
        <br>This sample uses ../../build/angular-ui-router.js, so make sure it is built (run 'grunt').
    </div>
    <div ng-show="showstatesummary">
        <pre>
                                      root.tabs.people.person
                                         /  stateParams: id
                                        /
                              root.tabs.people
           -----root.notabs    /PARALLEL
          /                   /
        root                 /                            root.tabs.S2.i
          \                 /                PARALLEL    /
           --------root.tabs --------------- root.tabs.S2 -- root.tabs.S2.ii
                       |   \                              \
                       |    \                              ----root.tabs.S2.iii -- root.tabs.S2.iii.deep -- root.tabs.S2.iii.deep.nest
                       |     \
                       |      \            root.tabs.subtabs.S1
                       |       \                /   PARALLEL
                       |      root.tabs.subtabs
                       |        PARALLEL        \
                       |                   root.tabs.subtabs.S2
                       |                            PARALLEL
                       |
                        \                  root.tabs.outersubtabs.S1
                         \  (not parallel)    / PARALLEL
                        root.tabs.outersubtabs
                                              \
                                           root.tabs.outersubtabs.S1
                                               PARALLEL
            </pre>

        <h4>NESTED PARALLEL STATE SAMPLES</h4>
        <ul>
            <li> <b>root.notabs</b>: non-parallel "reset" sibling state
                This state is above the parallel states; activation will exit all active/inactive parallel states
            </li>
            <li> <b>root.tabs</b>: parent state to the top level of parallel states. Has a template with tabs/tab control
                directives.
                This demonstrates the basic parallel states architecture. Clicking between tabs changes the state,
                which
                the URL reflects, but the DOM is not affected and states are re-activated without being re-resolved.
            </li>
            <li> <b>root.tabs.people</b>: Demonstrates a parallel state with a resolve function</li>

            <li> <b>root.tabs.people.person</b>: Demonstrates a non-parallel substate which has a parameter</li>

            <li> <b>root.tabs.subtabs</b>: This state is a parallel state which has two child parallel states.
                This demonstrates stacked parallel states working at different nest levels.
            </li>

            <li> <b>root.tabs.outersubtabs</b>: This state is a non-parallel child state of root.tabs. It has two child
                parallel states. This demonstrates multiple independent parallel subtrees, and exiting of parallel substates when the parent is exited.
            </li>

            <li> <b>root.tabs.S2</b>: This parallel state has deeply nested states.
                This mainly demonstrates the tab_controls, where clicking the S2 tab will bring you back to whatever
                deeply nested state you last activated within the S2 subtree.
            </li>
        </ul>
    </div>
    <div ui-view>
        Nothing loaded.
    </div>
</body>
</html>
